/* contact form */

.p1 {
    font-size: larger;
    margin-left: 30px
}
@media only screen and (min-width: 45em){
    .p1 {
        font-size: x-large;
    }
}
@media only screen and (min-width: 70em){
    .p1 {
        font-size: xx-large;
    }
}

.heading {
    font-family: hurricane, cursive;
    border: 1px;
    font-size: 30px;
    margin-left: 20px;
}

@media only screen and (min-width: 60em){
    .heading {
        font-size: 50px;
    }
}
@media only screen and (min-width: 90em){
    .heading {
        font-size: 70px;
    }
}